@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
:root {
    --white: #ffffff;
    --white-200: #f8f8f8;
    --white-500: #e7e6e6;
    --gray-900: #121214;
    --gray-300: #444448;
    --gray-100: #535355;

    --blue: #3cc2f7;
    --blue-two: #234cbe;

    --green: #16b646;
    --primary-400: #ffbc48;

    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-white: #ffffff;
    --primary-400: #ffbc48;
    --primary-gray:#
    font-size: 89.7%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}
body {
    background: var(--gray-900);
    overflow-x: hidden;
}

.overview {
    width: 100%; 
    height: 45em;
    background-image: linear-gradient(to right, black 40%, transparent 58%), url("../img/barbeiro.jpeg");
    background-repeat: no-repeat;
    background-position: right top;
    border-bottom: solid 3px var(--color-dark3);
}   

.imgBarb img{
    width: 100%;
    height: 45em;
    position: absolute;
    z-index: 1;
    
}
#text {
    width: 85%;
    color: white;
    margin: 0 auto;
    z-index: 9999;
}

#text h1 {
    color: #eb0808;
    font-size: 3em;
    position: auto;
    z-index: 999;
}
#text h2 {
    font-size: 3em;
    
}
.info-box {
    width: 100%;
    padding: 2em 1%;
    
}
.textletr {
    width: 3em;
    height: 7em;
    
}
.exp-info {
    width: 35%;
    padding: 3em;
}
.exp-info p {
    color: white;
    width: 100%;
    padding: .1em .5em  3em 1em;
    font-size: 1.2em;
    text-align: center;
}


.download-options  {
    width: 35%;
    height: 3em;
    display: flex;
    justify-content: center;
}
.download-options .googleplay, .download-options .appstore {
    width: 10em;
}
.download-options .googleplay:hover, .download-options .appstore:hover {
    transform: scale(1.2);
}
.download-options #or {
    color: white;
    font-size: 22px;
    padding: .5em;
}

#main {
    width: 82%;
    height: 100em;
    margin: 0 auto;
    
    padding: 23px 1%;
}
#main .container {
    color: white;
    width: 88%;
    height: 20em;
    background-image: linear-gradient(to left, black 50%, transparent 78%), url(../img/maps.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    margin: 0 auto;
    border-radius: 1em;
}

#main .container .container-info{
    width: 50%;
    height: 100%;
    padding: 1em 1%;
    justify-content: flex-end;
    float: right;
}
#main .container .container-info h1{
    font-size: 5vmin;
}
#main .container .container-info p{
    padding: 1em 1%;
    font-size: 2.5vmin;
}


  
  
  body * {
    font-family: sans-serif;
  }
  
  #main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
    margin-top: 6em;
    list-style: none;
  }
  
  #main .cards:has(li:hover) li:not(:hover) {
    opacity: .6;
    scale: .98;
  }
  
  #main .cards li {
    flex: 1;
    background-color: var(--gray-300);
    padding: 2.8rem;
    border-radius: .8rem;
    color: white;
    transition: all .2s;
  }
  
  #main .cards li .header {
    display: flex;
    align-items: center;
    gap: .8rem;
  }
  
  #main .cards li i {
    font-size: 2.4rem;
  
    background-color: var(--primary-400);
    color: var(--gray-900);
    border-radius: 50%;
    padding: .4rem;
  }
  
  #main .cards li h2 {
    opacity: .9;
  }
  
  #main .cards li p {
    margin-top: 1.6rem;
    opacity: .5;
  }
  
  #main .cards li a {
    display: inline-block;
    color: white;
    margin-top: 1.6rem;
    font-weight: bold;
    text-decoration: none;
    transition: color .2s;
  }
  
  #main .cards li a:hover {
    color: var(--primary-200);
  }
  
  footer {
    width: 100%;
    height: 7em;
    background: var(--color-dark2);
  }



  @media (max-width: 46rem) {
    #main .cards {
      grid-template-columns: 1fr;
    }
  }

@media (max-width: 75rem) {
    .download-options, .exp-info {
        margin: 0 auto;
    }
    .exp-info {
        text-align: center;
        width: 89%;
        padding: 12px 1%;
        margin-top: 5em;
    }
    .overview {
        background-image: linear-gradient(to top, black 60%, transparent 78%), url("../img/barbeiro.jpeg");
        background-repeat: no-repeat;
        background-position: left;
    }
    .info-box{
        padding: 32px 1%;
    }
    #main {
        width: 100%;
    }
}

