@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('./home.css');
@import url('./navegation.css');
:root {
    --white: #ffffff;
    --white-200: #f8f8f8;
    --white-500: #e7e6e6;
    --gray-900: #121214;
    --gray-300: #444448;
    --gray-100: #535355;

    --blue: #3cc2f7;
    --blue-two: #234cbe;

    --green: #16b646;
    --primary-400: #ffbc48;

    --color-white: #fff;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-white: #ffffff;
    --primary-400: #ffbc48;
    --primary-gray:#
    font-size: 89.7%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}
body {
    background: var(--gray-900);
    overflow-x: hidden;
}

